.ListRole {
  &__table {
    width: 100%;
  }
  .btn {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &-delete {
      &:hover {
        background-color: var(--bs-btn-bg) !important;
      }
      img {
        filter: invert(1);
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }
}
