{% extends '_layouts/cp' %}

{% set title = 'System Leads'|t('plugin-handle') %}
{% do view.registerAssetBundle('tbi\\systemleads\\assets\\SystemleadsAssets') %}

{% set freeformExists = craft.app.plugins.isPluginEnabled('freeform') %}

{% block content %}
  {% if freeformExists %}
    <div id="systemleads"></div>
    {% set forms = craft.freeform.forms %}
    {% if (forms|length) > 0 %}
      {% set dataForms = [] %}
      {% for form in forms %}
        {% set dataForms =
          dataForms|merge(
            [
              {
                handle: form.handle,
                id: form.id,
                name: form.name
              }
            ]
          )
        %}
      {% endfor %}

      {% set dataToken = {
        name: craft.app.config.general.csrfTokenName,
        value: craft.app.request.csrfToken
      } %}

      {% set dataForms %}
        window.freeFormsData = {{ dataForms|json_encode|raw }}
        window.dataToken= {{ dataToken|json_encode|raw }}
      {% endset %}

      {% do view.registerjs(dataForms, POS_HEAD) %}
    {% else %}
      <p>
        <strong>No forms created in freeform were found</strong>, you must
        create your forms in freeform
        <br />
        to be able to measure the information sent from each of them.
      </p>
    {% endif %}
  {% else %}
    <p>
      <strong>Freeform is not installed or is disabled</strong>, to be able to
      use the system leads.
      <br />
      You must enable or installthe plugin in:
      <br />
      <strong>
        Configuration->plugins->enabled or Plugins store->Freeform->install.
      </strong>
    </p>
  {% endif %}
{% endblock %}
