{% extends 'lead-scoring-system/_layouts' %}

{% set dataFields = formData ?? [] %}
{% set formHandle = formHandle ?? '' %}
{% set formName = formName ?? '' %}

{% set crumbs = [
    { label: craft.leadSystem.getPluginName() , url: url("lead-scoring-system/forms") },
    { label: formName, url: "#"},
] %}

{% block bodyApp %}
	<div id="leadSystem"></div>
{% endblock %}

{% set dataForms %}
window.sectionPage =
{{ 'forms'|json_encode|raw }};

    window.formHandle =
{{ formHandle|json_encode|raw }}

window.formName =
{{ formName|json_encode|raw }}

window.dataFields =
{{ dataFields|json_encode|raw }}
{% endset %}

{% do view.registerjs(dataForms, POS_HEAD) %}
