{% extends 'lead-scoring-system/_layouts' %}

{% set freeformExists = craft.app.plugins.isPluginEnabled('freeform') %}
{% set forms = craft.freeform.forms %}


{% block bodyApp %}
	{% if freeformExists %}
		<div
			class="listForms p-3">
			{# <p class="listForms__title">Formularios</p> #}
			<section class="row gy-4">
				{% for form in forms %}
					{% set submissionCount =
                        craft.freeform.submissions({
                            formId: form.id
                        }).count()
                    %}
					{% if submissionCount > 0 %}
						<div class="col-12 col-md-6 col-lg-4 listForms__item">
							<a href="{{ url( "lead-scoring-system/form/#{form.handle}" ) }}" class="listForms__card" style="--bg-item-form:{{ form.color }}">
								<div class="listForms__card--body py-3">
									<div class="listForms__item--totalSubmission">
										{{ submissionCount }}
										<br/>
										<p class="">Submissions</p>
									</div>
									<div class="listForms__item--title pt-3 m-0">
										{{ form.name }}
									</div>
								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</section>
		</div>
		{% if not forms|length > 0 %}
			<p>
				<strong>No forms created in freeform were found</strong>, you
																				                must
				<br/>
				to be able to measure the information sent from each of them.
			</p>
		{% endif %}
	{% else %}
		<p>
			<strong>Freeform is not installed or is disabled</strong>, to be
																            able to
			<br/>
			You must enable or installthe plugin in:
			<br/>
			<strong>
				Configuration->plugins->enabled or Plugins
																                store->Freeform->install.
			</strong>
		</p>
	{% endif %}
{% endblock %}
