.FieldsForm {
  .btn {
    height: auto;
    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: var(--bs-btn-bg);
      }
      img {
        filter: invert(1);
      }
    }
  }
  &__col {
    &,
    & > * {
      box-sizing: border-box;
    }
  }
  &__contentAdd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0.3rem;
      &:hover {
        color: var(--bs-btn-hover-color);
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-border-color);
      }
      img {
        filter: invert(1);
      }
    }
  }
}
